* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/* Default = Dark Mode */
body {
    background-color: rgb(0, 0, 0);
    color: white;

    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem 9%;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    background-color: black;
    filter: drop-shadow(10px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
}

.logo {
    font-size: 3.2rem;
    font-weight: 800;
    color: rgb(255, 68, 0);
    cursor: pointer;
    transition: 0.5s ease;

}

.logo:hover {
    transform: scale(1.1);
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

nav {
    display: flex;
}

/* Style links */
nav a {
    font-size: 1.6rem;
    color: white;
    margin-left: 4rem;
}

nav a:hover,
nav a.active {
    color: white;
    border-bottom: 3px ridge rgb(255, 68, 0);
}

.banner {
    background-color: black;
    color: white;
    text-shadow: 5px 2px 5px black;

    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;


    background-image: url("Banner-img3.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.banner-text {
    margin-top: 100px;
    margin-left: 300px;
}

.banner-text h1 {
    padding: 0px 0px 20px 0px;
    font-size: 40px;

    display: flex;
    text-align: left;
    
}
.banner-text h1 span{
    color: rgb(255, 68, 0);
    text-shadow: 5px 2px 5px black;

    display: flex;
    align-content: center;
}
.banner-text p {
    font-weight: 300;
    font-size: 14px;
    max-width: 400px;
    line-height: 2;
    letter-spacing: 0.8px;
    margin-bottom: 30px;
}
.banner-text a {
    background-color: rgba(255, 255, 255, 0.198);
    color: rgb(255, 68, 0);
    text-shadow: 5px 2px 5px black;
    font-size: 14px;
    font-weight: 800;

    padding: 10px 14px;
    border-radius: 6px;
    transition: 0.3s ease;
}
.banner-text a:hover {
    box-shadow: 0 0 5px rgb(255, 68, 0), 
                0 0 25px rgb(255, 68, 0), 
                0 0 50px rgb(255, 68, 0), 
                0 0 100px rgb(255, 68, 0), 
                0 0 200px rgb(255, 68, 0);
}

/* Products layout */
.section-title {
    text-align: center;
    margin: 30px;

    font-size: 20px;
    color: rgb(255, 68, 0);
}

.products {
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.product {
    border: 1px solid coral;
    width: 300px;
    height: 150px;
    background-color: black;


    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    margin-bottom: 30px;
}

/* Buttons */
button {
    background-color: rgb(255, 68, 0);
    color: black;
    font-size: 10px;

    width: 150px;
    height: 20px;
    
    padding: 4px 5px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    border-radius: 2px;
    transition: 0.3s ease;
}

button:hover {
    box-shadow: 0 0 5px coral, 
                0 0 25px coral, 
                0 0 50px coral, 
                0 0 100px coral, 
                0 0 200px coral;
}

/* Footer */
footer {
    margin-top: auto;
    width: 100%;
    padding: 1rem 9%;
    font-weight: 800;
    
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer a {
    color: white;
}

footer .footer-text:hover {
    transform: scale(1.1);
}

/* Footer Image */
footer img {
    width: 20px;
}
.moon {
    display: block;
}
.sun {
    display: none;
}

/* Switch */
        /* Switch container */
footer .mode-btn {
    background-color: rgb(189, 184, 177);
    color: black;
    padding: 8px;

    width: 35px;

    border-radius: 2rem;
    cursor: pointer;

    position: relative;
}
        /* Circle */
footer .mode-btn .mode-inner {
    background-color: black;
    border-radius: 1rem;

    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 2px;
    left: 3px;
}

/* 🌞 Light Mode */
.light-mode{
    background-color: white;
    color: black;
}

.light-mode header {
    background-color: white;
}

/* Style links */
.light-mode nav a {
    color: black;
    font-weight: bold;
}

.light-mode .banner-text a {
    background-color: rgba(255, 255, 255, 0.198);
    color: rgb(255, 68, 0);
}

.light-mode .section-title {
    color: black;
}

.light-mode .product {
    border: 1px solid black;
    background-color: white;
}

.light-mode footer {
    background-color: white;
    color: black;
}

.light-mode footer a {
    color: black;
}

/* Footer Image */
.light-mode .sun {
    display: block;
}
.light-mode .moon {
    display: none;
}

/* Switch */
.light-mode  footer .mode-btn .mode-inner{
    background-color: black;
    border-radius: 1rem;

    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 2px;
    left: 1px;

    transform: translateX(calc(20px - 1px));
}

.light-mode footer .mode-btn .mode-inner::before{
    width: 100%;
    height: 100%;

    position: absolute;
    content: "";

    left: -30%;
    border-radius: 50%;
    transform: scale(0.7);
    background-color: rgb(189, 184, 177);
}

@media (max-width:790px) {

    .banner {
        height: 700px;
        margin-left: 0;
    }
    .banner-text {
        margin-left: 0;
    }
}

@media (max-width:576px) {

    .banner {
        height: 800px;
        margin-left: 0;
    }

    .banner-text h1 {
        font-size: 30px;
    }

}
