* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/* Default = Dark Mode */
body {
    background-color: rgba(0, 0, 0, 0.254);
    color: white;

    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

header {
    padding: 1rem 9%;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: black;
    filter: drop-shadow(10px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
}

.logo {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(176, 255, 72);
    cursor: pointer;
    transition: 0.5s ease;

}

.logo:hover {
    transform: scale(1.1);
}

/* Style links */
nav a {
    color: rgb(176, 255, 72);
    margin-left: 4rem;
}

nav button {
    margin-left: 4rem;
    padding: 6px 1.4rem;
    border-radius: 6px;
    border: none;
}

nav a:hover,
nav a.active {
    color: rgb(176, 255, 72);
    border-bottom: 3px solid rgb(176, 255, 72);
}

.home {
    display: flex;
    margin-top: 10rem;
}

/* Products layout */
.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.product {
    border: 1px solid white;
    padding: 15px;
    width: 200px;
}

/* Buttons */
button {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
}

**************************************************************************

/* 🌞 Light Mode */
.light-mode {
    background-color: white;
    color: black;
}

.light-mode nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin: 20px 100px;
}

/* Style links */
.light-mode nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.light-mode .product {
    border: 1px solid black;
}